{% extends 'base.html' %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
    <h1 class="title">{{ category.title }}</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-md-3">
            <a href="{% url 'product_detail' category_slug=product.category.slug slug=product.slug %}" class="card-link">
                <div class="card product-card">
                    <div class="card-image">
                        <img src="{{ product.thumbnail.url }}" class="card-img-top product-img" alt="{{ product.title }}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-subtitle">${{ product.price }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
